
.topPanel {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #875d39, #b08c6c);
}

.topPanel .title {
    -fx-font-size: 2em;
    -fx-font-family: "Palatino Linotype", "Times New Roman", Times, serif;
    -fx-fill: white;
}

.button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100%;
}

.topPanel .searchBar {
    -fx-background-color: #ffffff;
}

.buttonPanel {
    -fx-spacing: 1em;
}

.buttonPanel .button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100%;
}

.centerPanel .dashboard{

}

.centerPanel .productGrid{
    -fx-hgap: 2em;
}

.bottomPanel{
    -fx-background-color: #2d9ac2;
}

.bottomPanel .copyright {
    -fx-font-size: 1em;
    -fx-font-family: "Palatino Linotype", "Times New Roman", Times, serif;
    -fx-fill: white;
}

.loginPane .textFieldLabel {
    -fx-font-size: 1.5em;
    -fx-font-family: "Palatino Linotype", "Times New Roman", Times, serif;
}

.loginPane .submitButtonBar Button{
    -fx-background-color: #2d9ac2;
    -fx-background-radius: 0%;
    -fx-text-fill: #fffff0;
}

.loginPane .loginButton {

}

.loginPane .loginButton:hover {

}
